* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
  }

 img {
    /* margin-top: -200px; */
    width: 100%;
    height: 90%;
    padding-bottom: -10px;
    
 }

.foot {
     font-size: 15px;
     border-top: 1px solid black;
     width: 100vw;
     
     
 }
 form {
     height: 60vh;
 }
 .hero {
     padding-bottom: 10px;
 }
 label {
     font-size: smaller;
 }
 @media screen and (max-width: 800px){
    .foot {
            font-size: 9px;
        }
 }


